/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0073bb;
}

a:hover {
    cursor: pointer;
    text-decoration: underline #0073bb;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* Product-row
-------------------------------------------------- */

div.row:not(.no-gutters) {
    margin-right: -.5rem;
    margin-left: -.5rem;
}

@media (max-width: 767px) .row.grid-products {
    margin-right: -.3rem;
    margin-left: -.3rem;
}

.row.grid-products {
    margin-right: -.5rem;
    margin-left: -.5rem;
}
/* Product-item
-------------------------------------------------- */


.product--teaser {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: relative;
    border-radius: .25rem;
    background: #fff;
}

    .product--teaser .thumbnail {
        overflow: hidden;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
    }

    .product--teaser .thumbnail, .rounded-top {
        border-top-left-radius: .25rem !important;
        border-top-right-radius: .25rem !important;
    }

/* Product-image
-------------------------------------------------- */

@media (min-width: 360px) .product--teaser img, .product--teaser product-img {
    height: 210px;
}

.product--teaser img, .product--teaser product-img {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    margin: 0 auto;
    -o-object-fit: contain;
    object-fit: contain;
    height: 160px;
}

.product--teaser product-img {
    overflow: hidden;
}

.d-block {
    display: block !important;
}

.search__results .product-img {
    height: 200px;
}

.animate .product-img, .animate .product-img-small {
    position: relative;
    transition: all .2s ease-in-out;
}

.product-img, .product-img img, .tacenter {
    text-align: center !important;
}

.product-img {
    margin-bottom: .4375rem;
}

/* Product-title
-------------------------------------------------- */
.product--teaser .name {
    font-size: 16px;
    line-height: 18px;
    min-height: 35px;
    color: #121212;
    margin: .4rem 0 0;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
